/******Body Styles******/
body {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #454F50;
    line-height: 1.4em;
    font-family: 'Raleway', Helvetica, sans-serif;
}

p {
    font-weight: 400;
}

a {
    text-decoration: none;
    font-style: normal;
    color: inherit;
}

img {
    max-width: 100%;
}

header,
footer {
    background-color: #FAFAFA;
    width: 100%;
}

/******Heading Stlyes******/

header {
    text-align: center;
    background: linear-gradient(to bottom, #F9B8D0, #F2E2C4, #F2F2F2, #fff);
    height: 100%;
}

.navbar h1 {
/*    display: block;*/
    padding-top: 1.1em;
    text-transform: capitalize;
    color: #D9556D;
    font-family: 'Euphoria Script', cursive;
    font-size: 3em;
    margin: 0 0 1em; 0;
    text-shadow: 2px 2px 4px #7D6267;
}

.navbar ul li{
    list-style: none;
    background-color: #fff;
    width: 95%;
    margin-top: 5px;
    padding-top: 15px;
    height: 30px;
    font-weight: bold;
}

#main-nav {
    text-transform: uppercase;
}

header img {
/*    margin-top: 8%;*/
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    box-shadow: 5px 5px 5px 5px #888888;
    display: block;
}

header p {
    color: #A5A4A4;
    padding: 1.2em 2em 2em 2em;
}

/**Primary Content/Contact Stlye**/


.primary-content,
.contact {
    padding: 5% 10%;
    text-align: center;
}

#portfolio-title {
    text-transform: uppercase;
    margin-bottom: 3em;
    font-weight: bold;
}
.primary-content h3 {
    font-weight: 500;
}

.primary-content img {
    padding-top: 1.3em;
}

.contact {
    color: #fff;
    background-color: #454F50;
}

.contact h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: .9em;
}

address {
    font-style: normal;
    font-weight: 100;
    padding-bottom: 3em;
    padding-top: 1.2em;
}

address a {
    font-weight: bold; 
    padding-left: 3%;
}


/******Footer Styles******/
footer {
    padding-right: 2em;
    padding-left: 2em;
    border-top: 1px solid #eae8e8;
    width: 100%;
}

footer h4 {
    display: inline-block;
    float: left;
    color: #D9556D;
    font-family: 'Euphoria Script', cursive;
    font-size: 1.2em;
}

footer a {
    display: inline-block;
    float: right;
    padding-right: 5em;
    padding-top: 2em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
}

#footer-nav {
    display: flex;
    list-style: none;
    background-color: inherit;
    margin-top: 5px;
    font-weight: bold;
    float: right;
    margin-left: 0;
    padding-left: 0;
}

/******Media Queries******/
@media screen and (max-width: 768px) {
    #footer-nav {
        display: none;
    }
}

@media screen and (min-width: 768px) {

    /*****Navbar styles for Tablets****/
    .navbar {
        text-align: center;
        float:top;
        width:100%;
        height:30px;
    }
    .navbar h1 {
        font-size: 3rem;
    }
    .navbar ul {
        font-size: .8rem;
        float: left;
        width: 90%;
    }
    .navbar ul li {
        display: inline;
        margin-right: 10%;
        background-color: #fafafa;
        width: calc((100%-10%)/3);  
        background-color: inherit;
    }
    
    .navbar li:last-of-type {
        margin-right: 0;
    }
    /*****Header styles for Tablets****/
    header {
        height: 100%;
    }
    
    header img {
        width: 30%;
        float: right;
        margin-right: 5%;
        margin-left: 0;
        margin-top: 45px;
    }
    header p {
        width: 53%;
        float: left;
        margin-right: 1%;
        padding-right: 0;
        font-size: 1.1em;
        line-height: 1.4em;
    }
    
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
    
    .bio {
        text-align: left;
        margin-left: 0;
    }
    /***Two Column styles for Tablets**/
    
    .col {
        width: 45%;    
        float: left;
        margin: 0;
    }
    
    .one {
        padding-right: 8%;
        padding-left: 0;
    }
    .two {
        padding-right: 0;
        padding-left: 0;
    }
    
     /*****Contact styles for Tablets****/
    .contact p {
        font-size: 1.4rem;
        line-height: 1.8rem;
        padding-left: 1em;
        padding-right: 1em;
    }
    
    /*****Footer styles for Tablets****/
    footer {
        padding-bottom: 7em;
    }
    
    footer h4 {
        font-size: 1.5em;
    }
    
    .back-to-top {
        display: none;
    }

}


@media screen and (min-width: 1024px) {
  
    /*****Header styles for Desktop****/
    .navbar {
        display: flex;
        flex-direction: row;
        margin-bottom: 2%;
    }
    
    .flex-nav {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
    
    #name {
        display: flex;
        flex-direction: row;
        width: 50%;
        padding-left: 5%;
    }
    
    #main-nav  {
        margin-left: 15px;
        font-size: 1.1rem;
        margin-right: 0;
        padding: 2em;
    }
    
    header img{
        max-width: 345px;
    }
    
    header p {
        font-size: 1.5rem;
    }
    
    .container {
        padding-top: 10%;
    }

    /**Three Column styles for Desktop**/
    .primary-content {
        align-content: center;
        padding: 0;
   
    }
    
    .col {
        width: 29%;
        padding-right: 2%;
        padding-left: 2%;
    }
    
    /*****Contact styles for Desktop****/
    .contact p {
        padding-right: 10em;
        padding-left: 10em;
    }
    
    address {
        line-height: 1em;
        font-size: 1.2em;
    }
    
    #footer-nav {
        padding: 0;
    }
    
}












