/******Body Styles******/
body {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-style: normal;
    color: inherit;
}

img {
    max-width: 100%;
}

header,
footer {
    background-color: #FAFAFA;
    width: 100%;
}

/******Heading Stlyes******/

header {
    text-align: center;
}

.main-heading h1 {
    display: block;
}

.main-heading ul li{
    list-style: none;
    background-color: #fff;
    width: 95%;
    margin-top: 5px;
    padding-top: 15px;
    height: 30px;
}

header img {
    margin-top: 8%;
    width: 70%;
    
}

header p {
    line-height: 1.4em;
    color: #A5A4A4;
    font-weight: 200;
    padding: 1.2em 2em 2em 2em;
}

/**Primary Content/Contact Stlye**/
.primary-content,
.contact {
    padding: 5%;
    text-align: center;
}


address {
    font-style: normal;
}

/******Footer Styles******/
footer {
    padding-right: 2em;
    padding-left: 2em;
}

footer h4 {
    display: inline-block;
    float: left;
}

footer a {
    display: inline-block;
    float: right;
    padding-right: 5em;
    padding-top: 1.3em;
}

/******Media Queries******/

